################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CryptedFileDecrypter/bin/Debug
/CryptedFileDecrypter/obj/Debug
/CryptedFileDecrypter/obj/Debug
/CryptedFileDecrypter/obj/Debug
/CryptedFileDecrypter/obj/Debug
/.vs/CryptedFileDecrypter/v15
/packages/WindowsAPICodePack-Core.1.1.2
/packages/WindowsAPICodePack-Shell.1.1.1
/Source/packages
/Source/.vs
/Source/CryptedFileDecrypter/bin/Debug
/Source/CryptedFileDecrypter/obj
/Source/packages
/Source/CryptedFileDecrypter/bin/Release/CryptedFileDecrypter.application
/Source/CryptedFileDecrypter/bin/Release/app.publish
